*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://static3.bigstockphoto.com/8/1/1/large1500/118121435.jpg);
    background-size: cover;
    background-position: center;
}

.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 30px 100px;
}

/* Inputs */
.section1 .inputs{
    height: 500px;
    width: 500px;
    background-color: rgb(0, 102, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.section1 p{
    margin-top: 2rem;
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: bold;
}

.section1 input{
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    border: none;
}


/* Table */
.section1 .table{
    width: 500px;
    padding: 100px 100px;
    background-color: rgb(0, 255, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.table tr th, td{
    padding: 20px;
}

.section1 button{
    margin-top: 2rem;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid orangered;
    background-color: orangered;
    color: white;
}

.section1 button:hover{
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
    transition: .3s;
}